<div class="card">
    <h3>Scheduler Information ({{title}})</h3>
    <div class="container">
        <form>
          <div class="row">
            <div class="col-25">
              <label for="fname">Pipeline name</label>
            </div>
            <div class="col-75">
              <input type="text" id="fname" name="pipelineName" placeholder="Pipeline name">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="subject">Pipeline Desc.</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="subject" placeholder="Description" style="height:200px"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="lname">Trigger name</label>
            </div>
            <div class="col-75">
              <input type="text" id="lname" name="triggerName" placeholder="Trigger name">
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="country">Recurrance</label>
            </div>
            <div class="col-75">
              <select id="country" name="recurrance">
                <option value="daily">Daily</option>
                <option value="weekly">Weekly</option>
                <option value="hourly">Hourly</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-25">
              <label for="subject">Trigger Desc.</label>
            </div>
            <div class="col-75">
              <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
            </div>
          </div>
          <div class="row">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
   </div>

