<div class="recent-grid">
  <div class="projects">
    <div class="card">
      <div class="card-header">
        <h2>Recent Reports</h2>
        <button>See all <span class="las la-arrow-right"></span></button>
      </div>
      <div class="card-body">
        <table width="100%">
          <thead>
            <tr>
              <td>Project title</td>
              <td>Department</td>
              <td>Status</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Data ware house</td>
              <td>Big data</td>
              <td> <span class="status orange"></span>
                  Pending</td>
            </tr>
            <tr>
                <td>Pr Report</td>
                <td>Engineer</td>
                <td><span class="status red"></span>Completed</td>
              </tr>
              <tr>
                <td>Analytics</td>
                <td>Data Analysis</td>
                <td><span class="status orange"></span>Pending</td>
              </tr>
              <tr>
                <td>Prediction Analysis</td>
                <td>R and D</td>
                <td><span class="status purple"></span>Review</td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
