.recent-grid {
    display: grid;
    grid-template-columns: 100% auto;
}

.card {
    background: #fff;
    border-radius: 5px;
}

.card-header,
.card-body {
    padding:1rem
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .8rem;
    padding: .5rem 1rem;
    border: 1px solid var(--main-color);
}


table {
    border-collapse:collapse;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
}

thead td {
        font-weight: 700;
    }

td {
    padding: .5rem 1rem;
    font-size:.9rem;
    color:#222;
}

tr td:last-child {
    display: flex;
    align-items: center;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

.status.purple {
    background-color: rebeccapurple;
}
.status.red {
    background-color: darkred;
}
.status.orange {
    background-color: orangered;
}