<div class="cards">
    <div class="card-single">
      <div>
        <h1>54</h1>
        <span>Customers</span>
      </div>
      <div>
        <span class="las la-users"></span>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h1>79</h1>
        <span>Projects</span>
      </div>
      <div>
        <span class="las la-clipboard"></span>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h1>80</h1>
        <span>Analytics</span>
      </div>
      <div>
        <span class="las la-users"></span>
      </div>
    </div>

    <div class="card-single">
      <div>
        <h1>100</h1>
        <span>Visits</span>
      </div>
      <div>
        <span class="lab la-google-wallet"></span>
      </div>
    </div>
  </div>